@import "/src/styles.scss";

main {
  margin-block: 1%;

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;

    .sliderItem {
      background-color: $danger;
      border-radius: 10px;
      margin-block: 1%;
      margin-inline: 0.3%;
      vertical-align: middle;
      box-sizing: content-box;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.5);
        border-radius: 0px;

        p {
          display: block;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $light;
          font-size: 41%;
          font-weight: 600;
          background-color: transparentize($dark, 0.3);
        }
      }

      p {
        display: none;
      }

      img {
        width: 70%;
        // height: 100%;
      }
    }
  }
}
