@import "/src/styles.scss";

header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 2%;
  &[theme="dark"] {
    border-bottom: 3px solid $warning;
  }
  &[theme="light"] {
    border-bottom: 3px solid $danger;
  }

  h1 {
    a {
      font-size: 1.7rem;
      &[theme="dark"] {
        color: $warning;
      }
      &[theme="light"] {
        color: $danger;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

    a {
      font-size: 2rem;
      transition: all 250ms;
      // text-decoration: none;
      border-radius: 10px;
      padding: 1%;
      cursor: pointer;
      opacity: 0.7;
      &[theme="dark"] {
        color: $dark;
        background-color: $medium;
        &:hover {
          color: $dark;
          background-color: $light;
          opacity: 1;
        }
        &[isActive="true"] {
          color: $dark;
          background-color: $warning;
          &:hover {
            opacity: 1;
          }
        }
      }
      &[theme="light"] {
        color: $light;
        background-color: $medium;
        &:hover {
          color: $light;
          background-color: $dark;
          opacity: 1;
        }
        &[isActive="true"] {
          color: $light;
          background-color: $danger;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

footer {
  &[theme="dark"] {
    border-top: 3px solid $warning;
  }
  &[theme="light"] {
    border-top: 3px solid $danger;
  }

  p {
    font-size: 1rem;

    #heart {
      font-size: 1.3rem;
      cursor: default;
      transition: 200ms all;
      &[theme="dark"] {
        color: $warning;
        &:hover {
          color: $danger;
        }
      }
      &[theme="light"] {
        color: $danger;
        &:hover {
          color: $warning;
        }
      }
    }

    a {
      font-size: 1rem;
      transition: 200ms all;
      &[theme="dark"] {
        color: $warning;
        &:hover {
          color: $danger;
        }
      }
      &[theme="light"] {
        color: $danger;
        &:hover {
          color: $warning;
        }
      }
    }
  }
}
